*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
li{
    display: inline-block;
    padding: 20px 10px 10px 10px;
}
a{
    color: lightgray;
}
a:hover{
    list-style: none;
    color: white;
    text-decoration: none;
}
.box{
    width: 25%;
    height: 69vh;
    background-color: white;
    display: inline-block;
    margin: 100px 80px 10px 10px;
    border-radius: 0 0 10px 10px;
}
.box1{
    width: 25%;
    height: 60vh;
    background-color: white;
    display: inline-block;
    margin: 20px 80px 10px 10px;
    border-radius: 0 0 10px 10px;
}
.box2{
    width: 25%;
    height: 60vh;
    background-color: white;
    display: inline-block;
    margin: 20px 80px 10px 10px;
    border-radius: 0 0 10px 10px;
}
.box3{
    width: 25%;
    height: 60vh;
    background-color: white;
    display: inline-block;
    margin: 20px 80px 10px 10px;
    border-radius: 0 0 10px 10px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    background-color: white;
}
.dropdown button{
    color: white;
    background-color: transparent;
    border: none;
    padding: 0px 20px;
}
.dropdown-content a:hover{
    background-color: royalblue;
    color: white;
}
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    z-index: 1000;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#close{
    color: black;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}
.table{
    width:90%;
    height: 140vh;
    background-color: rgb(240, 234, 234);
    margin-right: 68px;
    border-radius: 10px;
}
input:after{
    border: none;
}